<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="API Tests" verbose="5">
  <listeners>
    <listener class-name="org.uncommons.reportng.HTMLReporter"/>
    <listener class-name="org.uncommons.reportng.JUnitXMLReporter"/>
  </listeners>
  <test name="API Tests">
    <classes>
      <class name="org.bjss.Login.LoginTests" />
      <class name="org.bjss.user.UserTests" />
    </classes>
  </test>
</suite>
